.footer {
    background-color: #202020;
    max-width: 1440px;
    margin: 0 auto;


& div {
    display: flex;
    justify-content: center;
    gap: 34px;
}

& p {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 21px;
}

}