.header {
    margin: 0 auto;
    max-width: 1440px;
    box-sizing: border-box;
    background: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);
    height: 800px;
    padding-top: 48px;
   display: flex;
  align-items: end;
  padding-bottom: 119px;
 

    .header-main {
        
        box-sizing: border-box;
        padding-top: 15px;
        display: flex;
        justify-content: space-around;
        height: 92px;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 999;
   

      &:hover {
        
        background-color: #202020;
        background-attachment: scroll;
       
      }
      
    

        




    

        .header__menu {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;


            & a {
                text-decoration: none;
                padding-right: 20px;
                border-radius: 20px;
                border: 1px solid #FFF;
                padding: 10px 16px;
                display: flex;
                gap: 12px;

            }

            .header-menu__item1::before {
                content: url('../../src/images/fi-rr-magic-wand.svg');

            }

            .header-menu__item2::before {
                content: url('../../src/images/fi-rr-document.svg');

            }

            .header-menu__item3::before {
                content: url('../../src/images/fi-rr-flower-tulip.svg');

            }

            .header-menu__item4::before {
                content: url('../../src/images/fi-rr-comment-heart.svg');

            }
            

        }

        

    }
   

  
}
.header-h2{
    margin-left: 191px;
  }
