.content {
    margin: 0 auto;
    max-width: 1440px;
    position: relative;

}

.info {
    padding-bottom: 102px;
    padding-top: 101px;
    padding-left: 191px;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.info__numbers {
    display: flex;
    gap: 96px;
}

.info__paragraph {
    margin-bottom: 10px;
}

.projects {

    background-color: #3C3C3C;


    .projects-wrapper {
        max-width: 1050px;
        margin: 0 auto;
        display: grid;
        gap: 40px;
        padding-bottom: 105px;
        grid-auto-columns: repeat(3, 343px);
        grid-template-rows: repeat(2, minmax(650px, 1fr));
       
        justify-content: center;
        flex-shrink: 2;

    }
    .projects_img-1 {
        max-width: 100%;
        height: 338px;
        display: flex;
        padding: 20px;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
        object-fit: cover;


    }



    .projects_img {
        max-width: 285px;
        height: 338px;
        display: flex;
        padding: 20px;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
        object-fit: cover;


    }

    & a {
        display: flex;
        flex-direction: column;
        border-radius: 24px;
        background: #FFFEF2;
        text-decoration: none;
        gap: 10px;
        padding-bottom: 20px;


    }

    & p,
    h3 {
        padding-left: 20px;

    }

    & h3 {
        margin-bottom: 22px;


    }

}

.projects__element-2 {

    position: relative;
}

.projects__element-3 {
    position: relative;
}

.projects__element-4__none {
    position: relative;
}


.projects__element-1 {

    position: relative;
    margin-bottom: 23px;
    margin-top: 86px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;




}

.motivation {
    position: relative;

    max-width: 1440px;
    height: 800px;

    & img {
        max-width: 1440px;
        height: 800px;
        object-fit: cover;
    }

    & div {

        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
        height: 100%;
        background: rgba($color: #202020, $alpha: 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        & h3 {
            max-width: 75%;


        }


    }



}

.contact {
    background-color: #202020;
    padding-top: 78px;
    padding-bottom: 163px;



    & a {
        box-sizing: border-box;
        position: relative;
        margin: 0 auto;
        max-width: 914px;
        display: flex;
        flex-direction: column;
        gap: 17px;
        align-items: end;
        padding-right: 137px;
        text-decoration: none;
        border-radius: 139px;
        border: 1px solid #F2F2F2;
        padding-top: 42px;
        padding-bottom: 42px;


    }

    & h3 {
        margin-bottom: 15px;

        &::before {
            content: url('../../src/images/Dawn.svg');
            position: absolute;
            left: 150px;
            top: 30px;


        }
    }

    & p {

        &::after {
            content: url('../../src/images/Group\ 2.svg');
            padding-left: 24px;
            position: absolute;

        }

    }
}