
.header-menu__item--hidden {
    box-sizing: border-box;
    border-radius: 20px;
border: 2px solid #FFF;
padding: 20px;
max-width: 56px;
height: 56px;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
right: 31px;

}
@media screen and (min-width: 1200px) {

    .header-menu__item--hidden {
        display: none;
    }
}


@media screen and (max-width: 1200px)
{
    .header__menu--hidden{
        display: none;
    }
  .header__logo {
    position: absolute;
    left: 34px;
  }
  .header-h2 {
    width: 512px;
  
  }
  
 .projects__element-1 {
  width: 80%;
 }
.projects__element-3 {
  max-width: 343px;

}
.projects__element-2 {
  max-width: 343px;

}
.projects__element-4__none {
 display: none;


}
.projects-wrapper  {
  padding-left: 100px;
}
 


}


@media screen and (max-width: 768px) 
{
  .photo-holder__img-1 {
  opacity: 0;
  }

  .projects__element-2 {
    display: none;
  
  }
  .projects-wrapper  {
    padding-left: 100px;
  }
  .projects__element-1 {
    max-width: 343px;
   }



}