.graphics-design {
    background-color: $primery;
    position: relative;
    /* &::before {
        content: url('../../src/images/Asterisk\ 1.svg');
        position: absolute;
        z-index: 1;
        right: 330px;
        top: 730px;

    }

    */

    & .graphics-design__photo-holder {
        max-width: 1055px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 414px);
        gap: 26px;
        padding-top: 38px;
        padding-bottom: 138px;
        justify-content: center;

        & div {
            position: relative;
        }

    }

    & img {
        object-fit: cover;

        border-radius: 40px;

    }

    & h2 {
        padding-top: 82px;
        margin-left: 191px;

    }
}

.photo-holder__img-1 {

    z-index: 0;

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;


}

.photo__img-1 {
    width: 100%;
    height: 100%;


    filter: grayscale(100%);
}


.photo__img-2 {
    z-index: 0;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    filter: grayscale(100%);
}

.photo__img-3 {
    z-index: 0;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    filter: grayscale(100%);
}

.photo-holder__item1 {
    position: absolute;
    z-index: 1;
    left: 40%;
    top: 50px;
}

.photo-holder__item2 {
    position: absolute;
    z-index: 1;
    left: 30%;
    top: 90px;

}

.photo-holder__item3 {
    position: absolute;
    z-index: 1;
    left: 30%;
    top: 80px;

}