.font-1 {
  color: #FFF;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 700;
}

.font-2 {
  color: #FFF;
  font-family: DynaPuff;
  font-size: 80px;
  font-weight: 700;
}

.font-3 {
  color: #FAEB49;
  font-family: DynaPuff;
  font-size: 48px;
  font-weight: 700;
}

.font-4 {
  color: #FFF;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 500;
}

.font-5 {
  color: #FFF;
  font-family: DynaPuff;
  font-size: 48px;
  font-weight: 700;
}

.font-6 {
  color: #565656;
  font-family: DynaPuff;
  font-size: 32px;
  font-weight: 700;
}

.font-7 {
  color: #565656;
  font-family: DynaPuff;
  font-size: 40px;
  font-weight: 700;
}

.font-8 {
  color: #000;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 700;
}

.font-9 {
  color: #000;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 500;
}

.font-10 {
  color: #FFF;
  font-family: Manrope;
  font-size: 24px;
  font-weight: 500;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.graphic {
  position: absolute;
  right: -10px;
  top: -20px;
  width: 268px;
  height: 512px;
  transform: rotate(45deg);
  border-radius: 50%;
  border: 1px solid #737373;
}

.graphic-1 {
  transform: rotate(45deg);
}

.graphic-2 {
  transform: rotate(-45deg);
}

.white-background {
  position: absolute;
  right: -100px;
  top: 0;
  background-color: #fff;
  width: 100px;
  height: 800px;
}

.projects-element-1__item {
  position: absolute;
  top: 40px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  right: 50px;
  background-color: #fff;
}

.header {
  margin: 0 auto;
  max-width: 1440px;
  box-sizing: border-box;
  background: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);
  height: 800px;
  padding-top: 48px;
  display: flex;
  align-items: end;
  padding-bottom: 119px;
}
.header .header-main {
  box-sizing: border-box;
  padding-top: 15px;
  display: flex;
  justify-content: space-around;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}
.header .header-main:hover {
  background-color: #202020;
  background-attachment: scroll;
}
.header .header-main .header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.header .header-main .header__menu a {
  text-decoration: none;
  padding-right: 20px;
  border-radius: 20px;
  border: 1px solid #FFF;
  padding: 10px 16px;
  display: flex;
  gap: 12px;
}
.header .header-main .header__menu .header-menu__item1::before {
  content: url("../../src/images/fi-rr-magic-wand.svg");
}
.header .header-main .header__menu .header-menu__item2::before {
  content: url("../../src/images/fi-rr-document.svg");
}
.header .header-main .header__menu .header-menu__item3::before {
  content: url("../../src/images/fi-rr-flower-tulip.svg");
}
.header .header-main .header__menu .header-menu__item4::before {
  content: url("../../src/images/fi-rr-comment-heart.svg");
}

.header-h2 {
  margin-left: 191px;
}

.footer {
  background-color: #202020;
  max-width: 1440px;
  margin: 0 auto;
}
.footer div {
  display: flex;
  justify-content: center;
  gap: 34px;
}
.footer p {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 21px;
}

.content {
  margin: 0 auto;
  max-width: 1440px;
  position: relative;
}

.info {
  padding-bottom: 102px;
  padding-top: 101px;
  padding-left: 191px;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.info__numbers {
  display: flex;
  gap: 96px;
}

.info__paragraph {
  margin-bottom: 10px;
}

.projects {
  background-color: #3C3C3C;
}
.projects .projects-wrapper {
  max-width: 1050px;
  margin: 0 auto;
  display: grid;
  gap: 40px;
  padding-bottom: 105px;
  grid-auto-columns: repeat(3, 343px);
  grid-template-rows: repeat(2, minmax(650px, 1fr));
  justify-content: center;
  flex-shrink: 2;
}
.projects .projects_img-1 {
  max-width: 100%;
  height: 338px;
  display: flex;
  padding: 20px;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  -o-object-fit: cover;
     object-fit: cover;
}
.projects .projects_img {
  max-width: 285px;
  height: 338px;
  display: flex;
  padding: 20px;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  -o-object-fit: cover;
     object-fit: cover;
}
.projects a {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  background: #FFFEF2;
  text-decoration: none;
  gap: 10px;
  padding-bottom: 20px;
}
.projects p,
.projects h3 {
  padding-left: 20px;
}
.projects h3 {
  margin-bottom: 22px;
}

.projects__element-2 {
  position: relative;
}

.projects__element-3 {
  position: relative;
}

.projects__element-4__none {
  position: relative;
}

.projects__element-1 {
  position: relative;
  margin-bottom: 23px;
  margin-top: 86px;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.motivation {
  position: relative;
  max-width: 1440px;
  height: 800px;
}
.motivation img {
  max-width: 1440px;
  height: 800px;
  -o-object-fit: cover;
     object-fit: cover;
}
.motivation div {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
  background: rgba(32, 32, 32, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.motivation div h3 {
  max-width: 75%;
}

.contact {
  background-color: #202020;
  padding-top: 78px;
  padding-bottom: 163px;
}
.contact a {
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  max-width: 914px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: end;
  padding-right: 137px;
  text-decoration: none;
  border-radius: 139px;
  border: 1px solid #F2F2F2;
  padding-top: 42px;
  padding-bottom: 42px;
}
.contact h3 {
  margin-bottom: 15px;
}
.contact h3::before {
  content: url("../../src/images/Dawn.svg");
  position: absolute;
  left: 150px;
  top: 30px;
}
.contact p::after {
  content: url("../../src/images/Group 2.svg");
  padding-left: 24px;
  position: absolute;
}

.header-menu__item--hidden {
  box-sizing: border-box;
  border-radius: 20px;
  border: 2px solid #FFF;
  padding: 20px;
  max-width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 31px;
}

@media screen and (min-width: 1200px) {
  .header-menu__item--hidden {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .header__menu--hidden {
    display: none;
  }
  .header__logo {
    position: absolute;
    left: 34px;
  }
  .header-h2 {
    width: 512px;
  }
  .projects__element-1 {
    width: 80%;
  }
  .projects__element-3 {
    max-width: 343px;
  }
  .projects__element-2 {
    max-width: 343px;
  }
  .projects__element-4__none {
    display: none;
  }
  .projects-wrapper {
    padding-left: 100px;
  }
}
@media screen and (max-width: 768px) {
  .photo-holder__img-1 {
    opacity: 0;
  }
  .projects__element-2 {
    display: none;
  }
  .projects-wrapper {
    padding-left: 100px;
  }
  .projects__element-1 {
    max-width: 343px;
  }
  .photo-holder__img-2 {
    float: right;
  }
}
.graphics-design {
  background-color: #202020;
  position: relative;
  /* &::before {
      content: url('../../src/images/Asterisk\ 1.svg');
      position: absolute;
      z-index: 1;
      right: 330px;
      top: 730px;

  }

  */
}
.graphics-design .graphics-design__photo-holder {
  max-width: 1055px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 414px);
  gap: 26px;
  padding-top: 38px;
  padding-bottom: 138px;
  justify-content: center;
}
.graphics-design .graphics-design__photo-holder div {
  position: relative;
}
.graphics-design img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
}
.graphics-design h2 {
  padding-top: 82px;
  margin-left: 191px;
}

.photo-holder__img-1 {
  z-index: 0;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.photo__img-1 {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
}

.photo__img-2 {
  z-index: 0;
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  filter: grayscale(100%);
}

.photo__img-3 {
  z-index: 0;
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  filter: grayscale(100%);
}

.photo-holder__item1 {
  position: absolute;
  z-index: 1;
  left: 40%;
  top: 50px;
}

.photo-holder__item2 {
  position: absolute;
  z-index: 1;
  left: 30%;
  top: 90px;
}

.photo-holder__item3 {
  position: absolute;
  z-index: 1;
  left: 30%;
  top: 80px;
}/*# sourceMappingURL=style.css.map */