@import 'btn';
@import 'input';
.graphic {
    position: absolute;
    right: -10px;
    top: -20px;
    width: 268px;
    height: 512px;
    transform: rotate(45deg);
    border-radius: 50%;
    border: 1px solid #737373;
}
.graphic-1 {
transform: rotate(45deg);

}
.graphic-2 {

transform: rotate(-45deg);

}
.white-background {
    position: absolute;
    right: -100px;
    top: 0;
    background-color: #fff;
    width: 100px;
    height: 800px;
}




    .projects-element-1__item {

        position: absolute;
        
        top: 40px;
        width: 52px;
        height: 52px;
border-radius: 50%;
right: 50px;
background-color: #fff;
      
    }
  