@mixin font($color, $font-family, $font-size, $font-weight) {
    color: $color;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;

}
.font-1 {
    @include font(#FFF, Manrope, 16px, 700)
}
.font-2 {
    @include font(#FFF, DynaPuff, 80px, 700)
}
.font-3 {
    @include font (#FAEB49, DynaPuff, 48px, 700)
}
.font-4 {
    @include font (#FFF, Manrope, 16px, 500)
}
.font-5 {
    @include font (#FFF, DynaPuff, 48px, 700)
    
}
.font-6 {
    @include font (#565656, DynaPuff, 32px, 700)

}
.font-7 {
    @include font (#565656, DynaPuff, 40px, 700)
}
.font-8 {
    @include font (#000, Manrope, 16px, 700)
}
.font-9 {
    @include font (#000, Manrope, 16px, 500)
}

.font-10 {
    @include font (#FFF, Manrope, 24px, 500)
}




